// Default fordson_fel theme variables

$fpicon-width: 100px !default;
$fpiconcreate-width: 150px !default;
$fploginform: rgba(255, 255, 255, 0.9) !default;

$headerimagepadding: 275px !default;
$showheadergradient: 0 !default;

$courseboxheight: 250px !default;

$marketing1image: #fff !default;
$marketing2image: #fff !default;
$marketing3image: #fff !default;
$marketing4image: #fff !default;
$marketing5image: #fff !default;
$marketing6image: #fff !default;
$markettile-radius: 5px !default;
$markettextbg: rgba(255, 255, 255, 0.8) !default;

$border-radius: 4px !default;

$learningcontentpadding: 400px !default;

$blockwidthfordson_fel: 280px !default;

$drawer-padding-x: 0.5rem;
$drawer-padding-y: 0.5rem;
$drawer-bg: darken($body-bg, 5%) !default;
$spdrawer-bg: darken($body-bg, 5%) !default;
$footer-bg: $gray-800 !default;
$breadcrumb-bg: $brandprimary !default;
$breadcrumb-fg: #ffffff !default;
$breadcrumb-bg-hover: darken($breadcrumb-bg, 15%) !default;
$breadcrumb-text-color: #ffffff !default;

$slideshowheight: 250px !default;

$activityiconsize: 36px !default;
$activitycustomiconwidth: 20% !default;
$activityhover: #fff6ae !default;

$gutterwidth: 2rem !default;

$calendartoday: #fbffba !default;

$sectionnamehighlight : #43d0f3 !default;
$dpsaccentcolor: #44d4a6 !default;
$sectionactivitybkg: #fdfdfd !default;
$sectionbkg: $sectionactivitybkg !default;
$layout5imgoverlay: rgba(0,0,0,0.5) !default;
$spectrum-base: #3fcbda !default;
$elearningcontentbkg: rgba(255,255,255,0.6) !default;

//Preset Checks for unique styling
$spectrumpreset: 0 !default;
$modernmoodlepreset: 0 !default;
$perceptionpreset: 0 !default;

$topnavbar-bg:                       $white !default;
$topnavbar-fg:                       $black !default;
$teachernavbarcolor:                #f3e420 !default;
$studentnavbarcolor:                $topnavbar-bg !default;
$navbar-fhs-color:                  $black !default;
$navbar-fhs-active-color:           $black !default;
$navbar-fhs-hover-color:            $black !default;
$navbar-fhs-disabled-color:         $black !default;
$navbar-fhs-toggler-border-color:   initial !default;
$navbar-fhs-toggler-icon-bg:        initial !default;

$perceptionfontsize:                1.25rem !default;

/* defaults for font handling */
$usecustomfonts: 0 !default;
$generalbodyfont: false !default;
$generalaltfont: false !default;
$titlefont: false !default;
$altfontselector: false !default;

/* Std colors*/
$brandprimary: #000 !default;
$brandprimaryalt: #fff !default;
$brandsecondary: #666 !default;
$brandsecondaryalt: #eee !default;
$white: #fff !default;
$black: #000 !default;
$dark: #444 !default;
$light: #eee !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #373a3c !default;
$gray-900: #212529 !default;
