
.navbar.fixed-top .dropdown .dropdown-menu {
     /* background-color: $brandprimary; */
     background-color: $topnavbar-bg;
      border: 1px solid $topnavbar-fg;
}

/* hide dividers */
.dropdown-divider {
     display: none;
}

/* add border dividers */
.dropdown-item {
     padding: .5rem 1.5rem;
     border-bottom: 0.5px solid $topnavbar-fg;
}

/* unless for last one */
.dropdown-item:last-child {
     border-bottom: 0px solid $topnavbar-fg;
}

/* hover */
.dropdown-item:active, .dropdown-item:hover, .dropdown-item:focus {
     color: $topnavbar-fg;
     background-color: $topnavbar-bg-hover;
}

.usermenu .icon.fa:hover,
.dropdown-item.menu-action:hover,
.usermenu .icon.fa:focus,
.dropdown-item.menu-action:focus {
    color: $brandprimary !important;
}
