

/* TABS */

.nav-tabs {
    border-bottom: 0;
    /* border-bottom: 1px solid $brandprimary; */
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    border-color: $brandprimary $brandprimary $brandprimary;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    background-color: $brandprimary;
    border-color: $brandprimary $brandprimary $brandprimary;
    color: $brandprimaryalt;
}

.nav-tabs .nav-link.active {
    box-shadow: 0px 0px 0px 0.2rem $brandsecondary;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: $white!important;
    background-color: $brandprimary !important;
    border-color: $brandprimary $brandprimary $brandprimary;
}

/*oter liserai bas des onglets menus*/
.nav-tabs .nav-item {
    margin-bottom: initial;
}

/* main tab color */
.nav-tabs .nav-link {
    margin-bottom: 4px;
    border: 1px solid $white;
    border-bottom: 0px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

/* active tab color */
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: $white;
    background-color: $brandprimary;
    border-color: $brandprimary;
    margin-left: 5px;
    margin-right: 5px;
}

/* active tab */
.quickform-tab.active.here {
    background-color: $brandprimary;
}

.quickform-tab.active.here a{
    color: $white !important ;
}

#page-my-index li.nav-item a.nav-link.active,
#page-admin-search li.nav-item a.nav-link.active,
#page-admin-setting-themesettingfordson_fel li.nav-item a.nav-link.active {
    color: $brandprimaryalt;
    background-color: $brandprimary;
}
