

@media all and (max-width: 480px) {

    .container-fluid {
        width: 100%;
    }

    li.section {
        padding: 1rem 0 !important;
    }

    .navbar {
        padding: 5px 5px;
    }

    nav .btn {
        height: 40px;
    }

    #learningcontent {
        padding: 1rem 0;
    }
}