

<!-- theme_fordson_fel/accessibilityswitches -->
    {{#usedyslexicfont}}
    <div id="dyslexic-toggle-switch" class="accessibility-toggle dyslexic {{dyslexicactive}}">
        <a href="{{{dyslexicurl}}}" title="{{dyslexicactiontitle}}">qp</a>
    </div>
    {{/usedyslexicfont}}
    {{#usehighcontrastfont}}
    <div id="highcontrast-toggle-switch" class="accessibility-toggle highcontrast {{highcontrastactive}}">
        <a href="{{{highcontrasturl}}}" title="{{highcontrastactiontitle}}">AA</a>
    </div>
    {{/usehighcontrastfont}}
<!-- /theme_fordson_fel/accessibilityswitches -->
