

<!-- theme/fordson_fel -->

{{#withicons}}
{{#langs}}
{{#isotherlang}}
<a role="menuitem" href="{{{langurl}}}">
    {{{langicon}}}
</a>
{{/isotherlang}}
{{^isotherlang}}
{{{langicon}}}
{{/isotherlang}}
{{/langs}}
{{/withicons}}

{{#asmenu}}
<div id="menu_lang" class="lang-menu">
    <div class="lang-menu-content">
        <ul role="presentation">
            <li>
                <a id="lang-menu-handle" class="lang-menu-label" aria-haspopup="true" aria-expanded="false" href="#cm_submenu_lang">{{currentlang}}</a>
                <div id="cm_submenu_lang" class="lang-menu-submenu" style="display:none" role="menu">
                    <div class="lang-menu-content">
                        <ul role="menubar">
                            {{#langs}}
                            {{#isotherlang}}
                            <li class="lang-menuitem" role="none">
                                <a role="menuitem" class="lang-menuitem-content" tabindex="0" href="{{{langurl}}}">{{langname}}</a>
                            </li>
                            {{/isotherlang}}
                            {{/langs}}
                        </ul>
                    </div>
                </div>
            </li>
         </ul>
     </div>
</div>
{{/asmenu}}
<!-- /theme/fordson_fel -->