{{!
    @template theme_fordson_fel/sidepostblocks


    Example context (json): {}
}}
<!-- fordson_fel:sidepostblocks -->
<section id="region-side-post" region="blocks-region" class="hidden-print">
    {{{sidepostblocks}}}
</section>
<!-- /fordson_fel:sidepostblocks -->
