{{!
    @template theme_fordson_fel/nav-spdrawer


    Example context (json): {}
}}
<div id="nav-spdrawer" data-region="spdrawer" class="d-print-none moodle-has-zindex {{^navspdraweropen}}closed{{/navspdraweropen}}" aria-hidden="{{#navspdraweropen}}false{{/navspdraweropen}}{{^navspdraweropen}}true{{/navspdraweropen}}" tabindex="-1">
    {{> theme_fordson_fel/sidepostblocks }}
</div>
